<ul class="app-todays-forecast">
  <!-- <li>{{ todaysData.location.name }}</li> -->
  <!-- <li>Monday, 15:00</li> -->
  <li>
    <img
      ngSrc="../../../assets/images/tomorrow-weather-codes/weather-code-full-day/large/png/10000_clear_large.png"
      width="100"
      height="100"
      alt="Weather Icon"
      priority
    />
  </li>
  <li>{{ todaysData.data.values.temperature }} °C</li>
  <li>Feels like {{ todaysData.data.values.temperatureApparent }} °C</li>
  <!-- <li>Mostly Cloudy</li> -->
  <li>Rain - {{ todaysData.data.values.precipitationProbability }} %</li>
</ul>
