@if(errorMessage) {
<main>
  <app-error-message [errorMessage]="errorMessage" />
</main>
} @else {

<main class="card-content">
  @if(todaysForecast$! | async; as resultObject) {

  <section>
    @for(item of [
    resultObject.data]; track item.values) {
    <article>
      <app-todays-forecast
        [todaysData]="{ data: item, location: resultObject.location }"
      />
    </article>
    }
  </section>

  } @if(highlightsRealTime$! | async; as resultObject) {

  <section>
    @for(item of [resultObject.data]; track item.values) {
    <article>
      <app-forecast-highlights
        [highlightsRealTimeData]="{
          data: item,
          location: resultObject.location
        }"
      />
    </article>
    }
  </section>

  } @if(highlights$! | async; as resultObject) {

  <section>
    @for(item of [resultObject.timelines]; track item.daily) {
    <article>
      <app-forecast-highlights
        [highlightsData]="{ timelines: item, location: resultObject.location }"
      />
    </article>
    }
  </section>

  } @if(weeklyForecast$! | async; as resultObject) {

  <section>
    @for(item of [resultObject.timelines]; track item.daily) {
    <article>
      <app-weekly-forecast
        [weeklyData]="{ timelines: item, location: resultObject.location }"
      />
    </article>
    }
  </section>
  }
</main>
}
