@if(errorMessage) {
<main>
  <app-error-message [errorMessage]="errorMessage" />
</main>
} @else {

<main class="card-content">
  @if(todaysForecast$! | async; as todaysResult) {

  <section>
    @for(item of [ todaysResult.data]; track item.values) {
    <article>
      <app-todays-forecast
        [todaysData]="{ data: item, location: todaysResult.location }"
      />
    </article>
    }
  </section>

  } @if(highlightsRealTime$! | async; as highlightsRealTimeResult) {

  <section>
    @for(item of [highlightsRealTimeResult.data]; track item.values) {
    <article>
      <app-realtime-highlights
        [highlightsRealTimeData]="{
          data: item,
          location: highlightsRealTimeResult.location
        }"
      />
    </article>
    }
  </section>

  } @if(highlights$! | async; as highlightsResult) {

  <section>
    @for(item of [highlightsResult.timelines]; track item.daily) {
    <article>
      <app-forecast-highlights
        [highlightsData]="{
          timelines: item,
          location: highlightsResult.location
        }"
      />
    </article>
    }
  </section>

  } @if(weeklyForecast$! | async; as weeklyResult) {

  <section>
    @for(item of [weeklyResult.timelines]; track item.daily) {
    <article>
      <app-weekly-forecast
        [weeklyData]="{ timelines: item, location: weeklyResult.location }"
      />
    </article>
    }
  </section>
  }
</main>
}
