<section class="app-weekly-forecast">
  <article>
    <p>Sun</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Mon</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Tue</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Wen</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Thu</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Fri</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>

  <article>
    <p>Sat</p>
    <img src="../../../assets/images/cloud-icon.png" alt="weather icon">
    <p>15°/5°</p>
  </article>
</section>
